section {
    max-width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
    padding-left: 30px;
    font-family: var(--font-paragrafo);
    font-size: 3.5vw;
}

.image {   
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    
}

.image > p {
    display: inline-block;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: .625rem;
    color: white;
}

#image01{
    background: lightgray url(../img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    
}

#image02{
    background: lightgray url(../img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

